.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 0.7fr 1fr 1fr 1fr 0.7fr;
  grid-template-rows: 0.3fr 1fr 1fr 1fr 0.3fr;
  grid-gap: 1px;
  grid-template-areas:
    '. . . . .'
    '. . . . .'
    '. . . . .'
    '. . . . .'
    '. . . . .';
}

.user-locations {
  text-align: center;
  font-size: 40px;
}

.user-settings {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 100%;
  border-right: #202124 1.5px solid;
  border-top: #202124 1.5px solid;
  border-bottom: #202124 1.5px solid;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: white;
  padding-left: 20px;
  grid-row-start: 1;
  grid-row-end: 6;
}

.user-settings p {
  font-size: 30px;
  color: #202124;
  margin: 10px 0px;
}

.user-settings li {
  color: #202124;
}

.new-location-link {
  height: 30px;
  width: 120px;
  margin: 8px 5px;
  background-color: #202124;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.1s ease-in;
}

.edit-user-link {
  height: 30px;
  width: 120px;
  margin: 8px 5px;
  background-color: #202124;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.1s ease-in;
}

.delete-user-button {
  height: 30px;
  width: 120px;
  margin: 200px 5px 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.1s ease-in;
  background-color: red;
  color: black;
}

.location-button-wrapper {
  display: flex;
}

.grid-container img {
  height: 100px;
}

.user-locations {
  margin: 20px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.location.one {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.location.two {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}

.location.three {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;
}

.location.four {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}

.location.five {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
}

.location.six {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 5;
}

.location.seven {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
}

.location.eight {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 4;
}

.location.nine {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 4;
  grid-column-end: 5;
}
