.home {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home div img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  padding: 0.25rem;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.22);
}

.home h1 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
  font-size: 4rem;
  text-align: center;
}

.home h2 {
  margin-top: 10px;
  font-size: 2rem;
  text-decoration: underline;
}

.home button {
  text-align: center;
  width: 110px;
  margin-top: 5px;
  background-color: #202124;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.1s ease-in;
}

.home button:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.zoom-out-button {
  margin-right: 50px;
}

.refresh-button {
  margin-right: 50px;
}
.map-buttons-wrapper {
  margin-top: 5px;
  margin-bottom: 70px;
}

/* @media (max-width: 990px) {
  .home h1 {
    font-size: 3rem;
    text-align: center;
  }
}

@media (max-width: 760px) {
  .home h1 {
    font-size: 2rem;
    text-align: center;
  }
} */

@media screen and (max-width: 420px) {
  .home h1 {
    margin-top: 15px;
    font-size: 22.5px;
  }

  .home h2 {
    font-size: 19px;
  }

  .home div img {
    margin: 60px 10px 0px 10px;
    width: 350px;
    height: 310px;
  }

  .home button {
    width: 65px;
    font-size: 10px;
    padding: 6.5px;
    text-align: center;
  }

  .zoom-out-button {
    margin-right: 15px;
  }
  
  .refresh-button {
    margin-right: 15px;
  }
  .map-buttons-wrapper {
    margin-top: 20px;
    margin-bottom: 200px;
  }
}