.user-wrapper-2 {
  position: absolute;
  left: 15px;
  display: flex;
  justify-content: left;
}

.map-wrapper {
  align-self: center;
}

.super-delete {
  transition: color .25s ease-in, background-color .25s ease-in;
}

.super-delete:hover {
  background-color: #b61b1b!important;
  color: white!important
}