footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 25px;
  height: 45px;
  background-color: #202124;
  box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer ul {
  margin-right: -15px;
  display: flex;
  flex-direction: row;
}

footer li {
  padding: 10px;
  transition: color 0.1s ease-in;
  text-decoration: none;
}

footer a:visited {
  color: white;
  text-decoration: none;
}

footer li:hover {
  color: #202124;
}

footer .git-logo {
  margin-right: 5px;
  height: 25px;
}

footer .nasa-logo {
  height: 40px;
}

footer .nick {
  margin-left: 3px;
}

footer .x {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

footer .nasa {
  width: 50px;
  border-radius: 100%;
}

footer a {
  padding: 5px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: left;
  transition: background-color ease-in, color ease-in;
}

footer a:hover {
  background: white;
  color: #202124;
}
