.edit-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 150px;
}

.edit-form-top {
  text-align: center;
  padding-top: 15px;
  width: 550px;
  border: 1.5px solid #202124;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.edit-form-title {
  color: #202124;
  margin-bottom: 15px;
  font-size: 30px;
}

.edit-form-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 550px;
  height: 230px;
  background-color: #202124;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.edit-form-form {
  display: flex;
  flex-direction: column;
}

.edit-user-label {
  text-align: center;
  font-size: 15px;
  margin: 10px;
  color: white;
}

.edit-user-input {
  border-radius: 3px;
  margin: 3px;
  width: 270px;
}

.edit-user-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-user-button {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 4px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #202124;
  color: white;
  height: 40px;
  width: 150px;
  transition: background-color 0.25s ease-in, color 0.25s ease-in;
}

.update-user-button:hover {
  background-color: white;
  color: #202124;
}

.delete-user-button {
  margin-left: 20px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 4px;
  border-radius: 5px;
  border: 1px solid #b61b1b;
  color: #202124;
  background-color: #b61b1b;
  height: 40px;
  width: 150px;
  transition: background-color 0.25s ease-in, color 0.25s ease-in;
}

.delete-user-button:hover {
  background-color: #202124;
  color: #b61b1b;
}

.delete-user-button:hover + .delete-text {
  color: #b61b1b;
}

.delete-warning p {
  margin-left: 15px;
  text-align: center;
  color: #202124;
  transition: color 0.25s ease-in;
}

.logout-warning p {
  text-align: center;
  color: #202124;
  transition: color 0.25s ease-in;
}

.update-user-button:hover + .update-text {
  color: white;
}
